<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>FBSR Pöntunarsíða{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="root" class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          {% block container %}{% endblock %}
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  
    <link rel="stylesheet" href="/static/bootstrap-4.5.3-dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2">
    <link rel="stylesheet" href="/static/style.css">
</html>

